[submodule "tests/test_data/mock_payloads/cumulus-aggregator-test-study"]
	path = tests/test_data/mock_payloads/cumulus-aggregator-test-study
	url = https://github.com/smart-on-fhir/cumulus-aggregator-test-study
