default_install_hook_types: [pre-commit, pre-push]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - name: Ruff linting
        id: ruff
        args: [ --fix ]
      - name: Ruff formatting
        id: ruff-format
        stages: [pre-push]
