# A note on packages - the lambda ECR image is based on amazon linux, which only supports
# gcc 7.x - but numpy (and as a result, several numpy dependencies) have switched to
# only supporting gcc 8 or newer. So, until AWS backports gcc (and that might be a bit),
# pin numpy-related dependencies in this requirement file to ensure builds will work.
numpy == 2.2.1
pyarrow < 21
scikit-learn < 1.6
cumulus-library >= 4.1.3