{%- import 'syntax.sql.jinja' as syntax -%}
{%- set typesafe_filters = ['strEq','strContains','strStartsWith','strEndsWith','matches','strEqCI',
    'strContainsCI', 'strStartsWithCI','strEndsWithCI','strMatchesCI','strNotEq','strNotContains',
    'strNotStartsWith','strNotEndsWith','notMatches','strNotEqCI','strNotContainsCI',
    'strNotStartsWithCI','strNotEndsWithCI','notMatchesCI'] -%}

{%- macro render_filter( data, filter_type, bound) -%}
    {#- TODO: replace all LIKE filters with regexp() calls -#}
    {#- Sting filters -#}
    {%- if filter_type == 'strEq' -%}
CAST("{{ data }}" AS VARCHAR) LIKE '{{ bound }}'
{%- elif filter_type == 'strContains' -%}
CAST("{{ data }}" AS VARCHAR) LIKE '%{{ bound }}%'
{%- elif filter_type == 'strStartsWith' -%}
CAST("{{ data }}" AS VARCHAR) LIKE '{{ bound }}%'
{%- elif filter_type == 'strEndsWith' -%}
CAST("{{ data }}" AS VARCHAR) LIKE '%{{ bound }}'
{%- elif filter_type == 'matches' -%}
regexp_like(CAST("{{ data }}" AS VARCHAR), '{{ bound }}')
{%- elif filter_type == 'strEqCI' -%}
regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i)^{{ bound }}$')
{%- elif filter_type == 'strContainsCI' -%}
regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i){{ bound }}')
{%- elif filter_type == 'strStartsWithCI' -%}
regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i)^{{ bound }}')
{%- elif filter_type == 'strEndsWithCI' -%}
regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i){{ bound }}$')
{%- elif filter_type == 'matchesCI' -%}
regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i){{ bound }}')
{%- elif filter_type == 'strNotEq' -%}
CAST("{{ data }}" AS VARCHAR) NOT LIKE '{{ bound }}'
{%- elif filter_type == 'strNotContains' -%}
CAST("{{ data }}" AS VARCHAR) NOT LIKE '%{{ bound }}%'
{%- elif filter_type == 'strNotStartsWith' -%}
CAST("{{ data }}" AS VARCHAR) NOT LIKE '{{ bound }}%'
{%- elif filter_type == 'strNotEndsWith' -%}
CAST("{{ data }}" AS VARCHAR) NOT LIKE '%{{ bound }}'
{%- elif filter_type == 'notMatches' -%}
NOT regexp_like(CAST("{{ data }}" AS VARCHAR), '{{ bound }}')
{%- elif filter_type == 'strNotEqCI' -%}
NOT regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i)^{{ bound }}$')
{%- elif filter_type == 'strNotContainsCI' -%}
NOT regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i){{ bound }}')
{%- elif filter_type == 'strNotStartsWithCI' -%}
NOT regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i)^{{ bound }}')
{%- elif filter_type == 'strNotEndsWithCI' -%}
NOT regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i){{ bound }}$')
{%- elif filter_type == 'notMatchesCI' -%}
NOT regexp_like(CAST("{{ data }}" AS VARCHAR), '(?i){{ bound }}')
{#- Date filters -#}
{%- elif filter_type == 'sameDay' -%}
from_iso8601_timestamp("{{ data }}") = date_trunc('day',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameWeek' -%}
date_trunc('week',from_iso8601_timestamp("{{ data }}")) = date_trunc('week',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameMonth' -%}
date_trunc('month',from_iso8601_timestamp("{{ data }}")) = date_trunc('month',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameYear' -%}
date_trunc('year',from_iso8601_timestamp("{{ data }}")) = date_trunc('year',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameDayOrBefore' -%}
from_iso8601_timestamp("{{ data }}") <= date_trunc('day',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameWeekOrBefore' -%}
date_trunc('week',from_iso8601_timestamp("{{ data }}")) <= date_trunc('week',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameMonthOrBefore' -%}
date_trunc('month',from_iso8601_timestamp("{{ data }}")) <= date_trunc('month',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameYearOrBefore' -%}
date_trunc('year',from_iso8601_timestamp("{{ data }}")) <= date_trunc('year',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameDayOrAfter' -%}
from_iso8601_timestamp("{{ data }}") >= date_trunc('day',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameWeekOrAfter' -%}
date_trunc('week',from_iso8601_timestamp("{{ data }}")) >= date_trunc('week',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameMonthOrAfter' -%}
date_trunc('month',from_iso8601_timestamp("{{ data }}")) >= date_trunc('month',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'sameYearOrAfter' -%}
date_trunc('year',from_iso8601_timestamp("{{ data }}")) >= date_trunc('year',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'beforeDay' -%}
from_iso8601_timestamp("{{ data }}") < date_trunc('day',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'beforeWeek' -%}
date_trunc('week',from_iso8601_timestamp("{{ data }}")) < date_trunc('week',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'beforeMonth' -%}
date_trunc('month',from_iso8601_timestamp("{{ data }}")) < date_trunc('month',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'beforeYear' -%}
date_trunc('year',from_iso8601_timestamp("{{ data }}")) < date_trunc('year',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'afterDay' -%}
from_iso8601_timestamp("{{ data }}") > date_trunc('day',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'afterWeek' -%}
date_trunc('week',from_iso8601_timestamp("{{ data }}")) > date_trunc('week',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'afterMonth' -%}
date_trunc('month',from_iso8601_timestamp("{{ data }}")) > date_trunc('month',from_iso8601_timestamp('{{ bound }}'))
{%- elif filter_type == 'afterYear' -%}
date_trunc('year',from_iso8601_timestamp("{{ data }}")) > date_trunc('year',from_iso8601_timestamp('{{ bound }}'))
{#- Boolean filters -#}
{%- elif filter_type == 'isTrue' -%}
"{{ data }}" IS TRUE AND "{{ data }}" IS NOT NULL
{%- elif filter_type == 'isNotTrue' -%}
"{{ data }}" IS NOT TRUE AND "{{ data }}" IS NOT NULL
{%- elif filter_type == 'isFalse' -%}
"{{ data }}" IS FALSE AND "{{ data }}" IS NOT NULL
{%- elif filter_type == 'isNotFalse' -%}
"{{ data }}" IS NOT FALSE AND "{{ data }}" IS NOT NULL
{#- Null filters -#}
{%- elif filter_type == 'isNull' -%}
"{{ data }}" IS NULL
{%- elif filter_type == 'isNotNull' -%}
"{{ data }}" IS NOT NULL 
{#- Numeric filters -#}
{%- elif filter_type == 'eq'-%}
"{{ data }}" = {{ bound }}
{%- elif filter_type == 'ne'-%}
"{{ data }}" != {{ bound }}
{%- elif filter_type == 'gt'-%}
"{{ data }}" > {{ bound }}
{%- elif filter_type == 'gte'-%}
"{{ data }}" >= {{ bound }}
{%- elif filter_type == 'lt'-%}
"{{ data }}" < {{ bound }}
{%- elif filter_type == 'lte'-%}
"{{ data }}" <= {{ bound }}
{%- else -%}
        not found {{ filter_type }}
    {%- endif -%}
{%- endmacro -%}

{%- macro get_filters(aggregate_configs) -%}
    {%- for configs in aggregate_configs %}
        {{ syntax.or_delineate(loop) }}(
        {%- for config in configs %}
            {{ syntax.and_delineate(loop) }}{{ render_filter(config['data'],config['filter_type'],config['bound']) }}
        {%- endfor %}
                    )
    {%- endfor -%}
{%- endmacro -%}
