{%- import 'syntax.sql.jinja' as syntax -%}
{%- import 'filter_inline.sql.jinja' as inline -%}
SELECT 
    {%- if stratifier_column %}
        "{{ stratifier_column }}",
    {%- endif %}
    "{{ data_column }}"
    {%- if count_columns %},{%- endif %}
{%- for column in count_columns %}
    {%- if ungraphed_filter %}
        sum("{{ column }}") AS "{{ column }}"
    {%- else %}
    "{{ column }}"
    {%- endif %}
{{ syntax.comma_delineate(loop) }}
{%- endfor %}
FROM "{{ schema }}"."{{ data_package_id }}"
WHERE
    {%- if coalesce_columns %} coalesce(
        {%- for column in coalesce_columns %}
            cast("{{ column }}" AS VARCHAR){{ syntax.comma_delineate(loop) }} 
        {%- endfor %}
    ) IS NULL
    AND{%- endif %} "{{ data_column }}" IS NOT NULL
    AND (
        {%- if is_none is false %}
            (
                cast("{{ data_column }}" AS VARCHAR) != 'cumulus__none'
            {%- if inline_configs|length > 0 %}
                AND
                {{- inline.get_filters(inline_configs) }}
            {%- endif %}
            )
            {%- if is_not_none is false %}
        OR
            {%- endif %}
        {%- endif %}
        {%- if is_not_none is false %}
            (
                cast("{{ data_column }}" AS VARCHAR) = 'cumulus__none'
                {%- if none_configs|length > 0 %}
                AND
                    {{- inline.get_filters(none_configs) }}
                {%- endif %}
            )
        {%- endif %}
    )
    {%- if stratifier_column %}
    AND "{{ stratifier_column }}" IS NOT NULL
    {%- endif %}
{%- if ungraphed_filter %}
    {%- if stratifier_column %}
        GROUP BY "{{ stratifier_column }}", "{{ data_column }}"
    {%- else %}
        GROUP BY "{{ data_column }}"
    {%- endif %}
{%- endif %}
ORDER BY
    {%- if stratifier_column %}
        "{{ stratifier_column }}", "{{ data_column }}"
    {%- else %}
        "{{ data_column }}"
    {%- endif %}
